<!-- <h2 class="title">Membership Plans</h2>

<div *ngIf="loading" class="loading">
  Loading membership plans...
</div>

<div *ngIf="error" class="error">
  {{error}}
</div>

<div *ngIf="!loading && memberships.length === 0 && !error" class="empty">
  No membership plans available
</div>

<div class="membership-grid">

  <mat-card class="membership-card" *ngFor="let m of memberships">

      <mat-card-header>
        <mat-card-title>{{m.name}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <p class="price">
          ₹{{m.price}}
        </p>

        <p>
          Duration: {{m.durationInMonths}} months
        </p>

        <p class="description">
          {{m.description}}
        </p>

      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary" (click)="editMembership(m)">
          Edit
        </button>

        <button mat-button color="warn" (click)="deleteMembership(m.id!)">
          Delete
        </button>
      </mat-card-actions>

  </mat-card>

</div>

<button class="add-btn" (click)="addMembership()">
  + Add Membership
</button> -->

<div class="page">

  <div class="header">

    <h2>Membership Plans</h2>

    <button mat-raised-button color="primary"
    (click)="openAddDialog()">
    Add Membership
    </button>

  </div>

  <div class="grid">

    <mat-card *ngFor="let m of memberships">

      <h3>{{m.name}}</h3>

      <p><b>Price:</b> ₹{{m.price}}</p>

      <p><b>Duration:</b> {{m.durationInMonths}} months</p>

      <p>{{m.description}}</p>

      <div class="action-buttons">

        <button mat-stroked-button color="primary">
        Edit
        </button>

        <button mat-stroked-button color="warn">
        Delete
        </button>

      </div>

    </mat-card>

  </div>

</div>